.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
  color: aqua;
}


body {
  background: #343a40;
}
/* 
footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
.footer-text {
  font-size:13px
}
.highlight:hover {
  color: cadetblue;
}